.PageContainer {
  padding: var(--grid-padding);
  margin: 0 auto;
  width: 100%;
  max-width: var(--grid-max-width);
}

.PageContainer h1 {
  text-align: right;
}

.WorkItem {
  padding: 30px;
  margin: 0 auto 50px auto;
  width: 100%;
  background-color: var(--color-gray);
}
