.PageContainer {
  padding: 0 var(--grid-padding);
  margin: 0 auto;
  width: 100%;
  max-width: var(--grid-max-width);
}

.PageContainer h1 {
  text-align: right;
}

.WorkItem {
  position: relative;
  margin: 0 auto 200px auto;
  width: 100%;
}

.WorkItem_Left .WorkBox {
  left: 0;
}

.WorkItem_Left .WorkPicture {
  position: relative;
  left: 10%;
}

.WorkPicture {
  width: 90%;
  height: 400px;
  background-color: var(--color-gray);  
}

.WorkBox {
  position: absolute;
  right: 0;
  bottom: -100px;
  padding: 30px;
  width: 30%;
  height: 400px;
  background-color: var(--color-orange);
  box-sizing: border-box;
}
