.pageContainer {
  padding: 0 var(--grid-padding);
  margin: 0 auto;
  width: 100%;
  max-width: var(--grid-max-width);
  box-sizing: border-box;
}

.pageContainer h1 {
  text-align: right;
}

.storyContainer {
  display: flex;
  justify-content: flex-end;
  margin: 100px 0 250px 0;
}

.story {
  padding: 50px;
  width: 80%;
  color: var(--color-black);
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}
