.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 300;
}

.headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--grid-padding);
  margin: 0 auto;
  width: 100%;
  max-width: var(--grid-max-width);
  box-sizing: border-box;
}

.headerIsHome .headerContainer {
  justify-content: flex-end;
}

.logoGraphic {
  width: 100px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 100%;
}
