.footer {
  position: relative;
  width: 100%;
  padding: 10px 0;
  color: var(--color-gray-light);
  letter-spacing: 1px;
  text-align: center;
  z-index: 20;
}

.footerIsHome {
  position: absolute;
  left: 0;
  bottom: 0;
}

.socialMediaIcon svg {
  fill: var(--color-white);
  margin: 0 5px;
  width: 32px;
}
