.footer {
  position: relative;
  width: 100%;
  padding: 10px 0;
  color: var(--color-cement);
  letter-spacing: 1px;
  text-align: center;
  opacity: 0.5;
  transition: opacity 300ms ease;
  z-index: 20;
}

.footer:hover {
  opacity: 1;
}

@media screen and (min-height: 550px) {
  .footerIsHome {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.socialMediaIcon svg {
  fill: var(--color-white);
  margin: 0 5px;
  width: 32px;
}
