.navItem a {
  padding: 15px;
  margin: 0 10px;
  color: var(--color-white);
  font-family: var(--fontFamily-sans-serif);
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  opacity: 0.6;
  transition: opacity 200ms ease;
  user-select: none;
}

.navItem a:hover {
  opacity: 0.8;
}

.navItem:last-child a {
  margin-right: 0;
}

.navItem a.active {
  opacity: 1;
}
