.navItem a {
  display: inline-block;
  padding: 15px 25px;
  margin: 0 10px;
  color: var(--color-white);
  font-family: var(--fontFamily-sans-serif);
  font-size: 18px;
  letter-spacing: 1.5px;
  background-color: var(--color-black);
  text-decoration: none;
  user-select: none;
}

.navItem a:hover {
}

.navItem:last-child a {
}

.navItem a.active {
}
