.navItem a {
  padding: 15px 25px;
  margin: 0 10px;
  color: var(--color-white);
  font-family: var(--fontFamily-sans-serif);
  font-size: 20px;
  letter-spacing: 2px;
  background-color: var(--color-black);
  text-decoration: none;
  transition: opacity 200ms ease;
  user-select: none;
}

.navItem a:hover {
}

.navItem:last-child a {
}

.navItem a.active {
}
