.workItem {
  position: relative;
  margin: 0 auto 250px auto;
  width: 100%;
}

.workItem_left .workBox {
  left: 0;
}

.workItem_left .workPicture {
  position: relative;
  left: 10%;
}

.workPicture {
  width: 90%;
  height: 500px;
  background-color: var(--color-brand-gray);
}

.workBox {
  position: absolute;
  right: 0;
  bottom: -100px;
  padding: 30px;
  width: 30%;
  height: 400px;
  background-color: var(--color-brand-orange);
  box-sizing: border-box;
}

.workBox_Heading {
  margin-bottom: 15px;
  font-size: 40px;
}

.button {
  padding: 20px 30px;
  color: var(--color-white);
  font-family: var(--fontFamily-headings);
  font-size: 20px;
  background-color: var(--color-blue);
  text-decoration: none;
}

:global(.animated) {
  opacity: 0;
  transition: opacity 1000ms ease;
}

.fadeInMe {
  opacity: 1;
}
