/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * - Variables -
 */

:root {
  /* Colors */
  --color-white: #FCF7FF;
  --color-off-white: #dae8fd;
  --color-black: #11151C;
  --color-brand-gray: #2E2E3A;
  --color-brand-space: #0A182F;
  --color-brand-orange: #f05046;
  --color-gray-subtle: #E5E8E7;
  --color-gray-light: #CED1D0;
  --color-blue: #2374AB;
  --color-blue-light: #3b9ee0;
  --color-blue-slate: #4F5D75;
  --color-cement: #BFC0C0;
  --color-purple: #893168;

  /* Fonts */
  --fontFamily-base: 'Kanit', sans-serif;
  --fontFamily-headings: 'Cantarell', serif;
  --fontFamily-gameDash: 'Audiowide', monospace;

  /* Grid */
  --grid-max-width: 1600px;
  --grid-padding: 50px;
}

/*
 * - Base Styles -
 */

body {
  color: var(--color-white);
  font-family: var(--fontFamily-base);
  line-height: 1.75;
  background-color: var(--color-brand-space);
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  font-family: var(--fontFamily-headings);
}

/* h3,
h4,
h5,
h6 {
  font-family: var(--fontFamily-headings);
} */

h1 {
  margin-bottom: 30px;
  font-size: 80px;
  /* letter-spacing: 2px; */
}

p {
  margin-bottom: 20px;
}

small {
  font-size: 75%;
}

b {
  font-weight: 700;
}
