.nav {
  margin-top: 30px;
}

.navList {
  display: flex;
}

.resumeButton {
  display: inline-flex;
  align-self: center;
  align-items: center;
  margin-left: 10px;
  padding: 10px 20px;
  height: 100%;
  color: var(--color-blue-light);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  border: 1px solid var(--color-blue-light);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
}
